<span class="gallery-info">Click on any image to open lightGallery. </span>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-md-12 text-center">
      <div class="gallery-container" id="animated-thumbnails-gallery">
        <% 1.upto(20).with_index do |index| %>
          <a id="<%= index %>" data-lg-size=" 340-240" class="gallery-item"
             data-src="https://loremflickr.com/320/240?random=<%= index %>"
             data-sub-html="<h4>Photo by - <a href='#'>Text </a></h4>
          <p> Location - <a href=''></a>Text</p>">
            <img alt="<%= index %>" class="img-responsive" src="https://loremflickr.com/320/240?random=<%= index %>"/>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>