<div id="pager" class="container">
  <div class="row justify-content-between mt-2">
    <div class="col-4">
      <div class="d-flex position-relative justify-content-end">
        <% if @pagy.next %>
          <%= link_to images_path(page: @pagy.next), class: "btn btn-primary", data: {
            turbo_frame: "page_handler",
            controller: "autoclick"
          } do %>
            Load more images
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>