body {
    padding-top: 70px;
}

#search {
    max-width: 40rem;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #093174;
}

.header .lead {
    max-width: 620px;
}

.gallery-item img {
    padding: 4px;
}

#query {
    width: 20rem;
}