body {
    padding-top: 70px;
}

#search {
    max-width: 40rem;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #093174;
}

.header .lead {
    max-width: 620px;
}

.gallery-item img {
    padding: 4px;
}

#query {
    width: 20rem;
}

.navbar-brand img {
    height: 40px;
}

.gallery-item img {
    height: 168px;
    width: 168px;
}

.loading {
    background: transparent url('https://dl.dropbox.com/s/7t3f6dwilka3ajc/Spinner-1s-48px.gif') center no-repeat;
}

/*custom lightbox*/
.lb-outerContainer {
    background-color: #262626;;
}