<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col col-md-10">
      <%= turbo_frame_tag "images" do %>
        <%= render images %>
      <% end %>
    </div>
  </div>
</div>