<div class="row justify-content-center">
  <div class="col col-md-10 text-center">
    <%= turbo_frame_tag "images" do %>
      <%= render images %>
      <%= render 'shared/pager', pagy: @pagy %>
    <% end %>
  </div>
</div>