<div class="row justify-content-center mt-4">
  <div class="col col-md-10 text-center">
    <%= turbo_frame_tag "page_handler" %>
    <div id="images">
      <%= render images %>
    </div>
    <%= render 'shared/pager', pagy: @pagy %>

  </div>
</div>