<span class="gallery-info">Click on any image to open lightGallery. </span>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-md-12 text-center">
      <div class="gallery-container" id="animated-thumbnails-gallery">
        <% @images.each.with_index do |image| %>
          <a id="<%= image.id %>" data-lg-size=" 340-240" class="gallery-item"
             data-src="<%= image.url %>"
             data-sub-html="<h4>Photo by - <a href='#'>Text </a></h4>
          <p> Location - <a href=''></a>Text</p>">
            <img alt="<%= image.id %>" class="img-responsive" src="<%= image.url %>"/>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>