<footer class="text-white mt-lg-n5">
  <!-- Grid container -->
  <!--  <div class="container p-4">-->
  <!--Grid row-->
  <!--  </div>-->
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="container text-center p-3"
  >
    © <%= Time.now.strftime("%Y") %> Copyright:
    <%= link_to 'Jungle Tycoon Images', root_path %>
  </div>
  <!-- Copyright -->
</footer>